In [1]:
import os

import pandas as pd
from pandas import DataFrame
import numpy as np
from scipy import stats

from Constants import Constants as const

In [2]:
# Step 1: Load the data and create event time variable
file_path = os.path.join(const.RESULT_PATH, '20250501_stock_act_data_v1.dta')
df = pd.read_stata(file_path).copy()

In [3]:
# Columns to be included in the analysis
key_list = [
    "frequency", 'GLS_mech_annual', 'OJM_mech_annual', 'CAT_mech_annual', 'PEG_mech_annual', 'CCC_annual', 'sigma', 'skewness', 'kurtosis', 'govContractTerms', 'RegPolicyRisk'
]

In [4]:
# Split the data into two parts based on fiscal_year
before_2012_df = df[df['post'] == 0].copy()
after_2012_df = df[df['post'] == 1].copy()

In [6]:
# Function to perform comparison between treatment and control groups
def perform_comparison(df, columns):
    treatment_group = df[df['MajorGovCustomer'] == 1]
    control_group = df[df['MajorGovCustomer'] == 0]

    results = []

    for col in columns:
        treat_mean = treatment_group[col].mean()
        treat_median = treatment_group[col].median()
        treat_num = treatment_group[col].count()

        control_mean = control_group[col].mean()
        control_median = control_group[col].median()
        control_num = control_group[col].count()

        diff_mean = treat_mean - control_mean
        t_stat, p_value = stats.ttest_ind(treatment_group[col].dropna(), control_group[col].dropna(), equal_var=False)

        # Determine significance level
        if p_value < 0.01:
            significance = '***'
        elif p_value < 0.05:
            significance = '**'
        elif p_value < 0.1:
            significance = '*'
        else:
            significance = ''

        # Round values to three significant digits
        treat_mean = round(treat_mean, 3)
        treat_median = round(treat_median, 3)
        control_mean = round(control_mean, 3)
        control_median = round(control_median, 3)
        diff_mean = round(diff_mean, 3)
        t_stat = f"({round(t_stat, 3)})"

        results.append([treat_mean, treat_median, treat_num, control_mean, control_median, control_num, diff_mean, t_stat, significance])

    # Create a DataFrame to display the results
    results_df = pd.DataFrame(results, columns=[
        "Treatment Mean", "Treatment Median", "Treatment N", 
        "Control Mean", "Control Median", "Control N", 
        "Difference in Mean", "t-stat", "Significance"
    ], index=columns)
    return results_df

In [7]:
# Perform comparison for data before 2012
results_before_2012 = perform_comparison(before_2012_df, key_list)
print("Results for data before 2012:")
print(results_before_2012)

Results for data before 2012:
                  Treatment Mean  Treatment Median  Treatment N  Control Mean  \
frequency                  4.044             0.000          933         4.755
GLS_mech_annual            0.093             0.090          748         0.090
OJM_mech_annual            0.092             0.058          632         0.084
CAT_mech_annual           -0.053            -0.054          745        -0.082
PEG_mech_annual            0.102             0.059          752         0.116
CCC_annual                 0.057             0.040          752         0.053
sigma                      0.138             0.122          915         0.147
skewness                   0.142             0.073          915         0.187
kurtosis                  -0.033            -0.307          915        -0.092
govContractTerms           1.815             0.000          933         0.286
RegPolicyRisk              0.084             0.000          933         0.051

                  Control Median  Control N  Difference in Mean    t-stat  \
frequency                  0.000       4996              -0.711  (-2.504)
GLS_mech_annual            0.083       3401               0.003    (1.56)
OJM_mech_annual            0.049       2723               0.009   (1.489)
CAT_mech_annual           -0.085       3387               0.028   (3.975)
PEG_mech_annual            0.076       3438              -0.014   (-2.64)
CCC_annual                 0.033       3440               0.004   (1.103)
sigma                      0.130       4842              -0.009   (-3.33)
skewness                   0.146       4842              -0.044  (-1.651)
kurtosis                  -0.384       4842               0.060   (1.418)
govContractTerms           0.000       4996               1.529  (12.222)
RegPolicyRisk              0.000       4996               0.034   (3.187)

                 Significance
frequency                  **
GLS_mech_annual
OJM_mech_annual
CAT_mech_annual           ***
PEG_mech_annual           ***
CCC_annual
sigma                     ***
skewness                    *
kurtosis
govContractTerms          ***
RegPolicyRisk             ***

In [9]:
results_before_2012.iloc[-2:]

,Treatment Mean,Treatment Median,Treatment N,Control Mean,Control Median,Control N,Difference in Mean,t-stat,Significance
govContractTerms,1.815,0.0,933,0.286,0.0,4996,1.529,(12.222),***
RegPolicyRisk,0.084,0.0,933,0.051,0.0,4996,0.034,(3.187),***

In [7]:
results_before_2012.to_excel(os.path.join(const.REGRESSION_RESULT_PATH, '20250416', 'T2PA TvC before 2012.xlsx'))

In [10]:
# Perform comparison for data from 2012 onwards
results_after_2012 = perform_comparison(after_2012_df, key_list)
print("Results for data from 2012 onwards:")
print(results_after_2012)

Results for data from 2012 onwards:
                  Treatment Mean  Treatment Median  Treatment N  Control Mean  \
frequency                  4.015             0.000          921         5.157
GLS_mech_annual            0.109             0.087          697         0.101
OJM_mech_annual            0.087             0.055          630         0.078
CAT_mech_annual           -0.029            -0.055          696        -0.083
PEG_mech_annual            0.147             0.098          699         0.146
CCC_annual                 0.080             0.046          699         0.060
sigma                      0.102             0.088          904         0.114
skewness                   0.209             0.155          904         0.198
kurtosis                  -0.091            -0.388          904        -0.096
govContractTerms           1.450             0.000          921         0.231
RegPolicyRisk              0.152             0.000          921         0.043

                  Control Median  Control N  Difference in Mean    t-stat  \
frequency                  0.000       5224              -1.142  (-3.969)
GLS_mech_annual            0.079       3555               0.009   (2.764)
OJM_mech_annual            0.047       3063               0.008   (1.501)
CAT_mech_annual           -0.105       3550               0.054   (6.572)
PEG_mech_annual            0.101       3563               0.001   (0.189)
CCC_annual                 0.029       3567               0.019   (3.785)
sigma                      0.095       5133              -0.012  (-5.182)
skewness                   0.160       5133               0.011   (0.429)
kurtosis                  -0.418       5133               0.005   (0.123)
govContractTerms           0.000       5224               1.218   (11.62)
RegPolicyRisk              0.000       5224               0.109   (6.189)

                 Significance
frequency                 ***
GLS_mech_annual           ***
OJM_mech_annual
CAT_mech_annual           ***
PEG_mech_annual
CCC_annual                ***
sigma                     ***
skewness
kurtosis
govContractTerms          ***
RegPolicyRisk             ***

In [12]:
results_after_2012.iloc[-2:]

,Treatment Mean,Treatment Median,Treatment N,Control Mean,Control Median,Control N,Difference in Mean,t-stat,Significance
govContractTerms,1.450,0.0,921,0.231,0.0,5224,1.218,(11.62),***
RegPolicyRisk,0.152,0.0,921,0.043,0.0,5224,0.109,(6.189),***

In [9]:
results_after_2012.to_excel(os.path.join(const.REGRESSION_RESULT_PATH, '20250416', 'T2PB TvC after 2012.xlsx'))

# Get stepwise observations number

In [2]:
ctat_df = pd.read_csv(os.path.join(const.COMPUSTAT_PATH, '1950_2022_ctat_all_data.zip'),
                                     usecols=['fyear', const.GVKEY, 'bkvlps', 'prcc_f', 'csho', 'mkvalt'],
                                     dtype={const.GVKEY: str}).rename(columns={'fyear': const.YEAR})
ctat_df = ctat_df.loc[ctat_df[const.YEAR].apply(lambda x: 2007 < x < 2016)]
ctat_df.shape

(99932, 6)

In [3]:
ctat_df.drop_duplicates(subset=['gvkey', const.YEAR]).shape

(90226, 6)

# Calculate the cost of capital observations

In [2]:
lee_df: DataFrame = pd.read_csv(
            os.path.join(const.DATABASE_PATH, 'Cost of Capital', f'erp_public_annual_240107.zip')).drop(['permno'], axis=1)

In [5]:
lee_df[['CCC', 'GLS_mech', 'OJM_mech', 'CAT_mech', 'PEG_mech']].describe().T

,count,mean,std,min,25%,50%,75%,max
CCC,2088311.0,0.090159,0.124445,-0.538879,0.007939,0.065900,0.145795,0.999968
GLS_mech,2068379.0,0.112307,0.072132,-0.683782,0.070185,0.099579,0.139144,0.999780
OJM_mech,1768009.0,0.111107,0.137101,-0.990699,0.039521,0.071381,0.130939,0.999980
CAT_mech,2054667.0,-0.006180,0.230304,-0.920344,-0.156598,-0.019888,0.129285,0.999998
PEG_mech,2080521.0,0.140521,0.142460,0.000000,0.046016,0.106245,0.190371,0.999995

In [9]:
lee_df.loc[lee_df['CCC'].notnull() & lee_df['GLS_mech'].isnull(), ['CCC', 'GLS_mech', 'OJM_mech', 'CAT_mech', 'PEG_mech']]

              CCC  GLS_mech  OJM_mech  CAT_mech  PEG_mech
641      0.587013       NaN       NaN       NaN  0.587013
642      0.502280       NaN       NaN       NaN  0.502280
643      0.467239       NaN       NaN       NaN  0.467239
644      0.451498       NaN       NaN       NaN  0.451498
645      0.399652       NaN       NaN       NaN  0.399652
...           ...       ...       ...       ...       ...
3481805  0.161550       NaN       NaN       NaN  0.161550
3481806  0.189709       NaN       NaN       NaN  0.189709
3481807  0.191881       NaN       NaN       NaN  0.191881
3481808  0.198166       NaN       NaN       NaN  0.198166
3484066  0.144700       NaN    0.1447       NaN       NaN

[19932 rows x 5 columns]

# Check missing car variables

In [8]:
data_df: DataFrame = pd.read_stata(os.path.join(const.RESULT_PATH, '20250323_stock_act_idiosyn_v3.dta'))

In [27]:
data_df.head()

,gvkey,fiscal_year,mf_indicator,frequency,log_frequency,MajorGovCustomer,post,log_market_value,lev,ROA,...,kurtosis,sigma_d,skewness_d,kurtosis_d,SYNCHRONICITY,SYNCHRONICITY_MKT,SYNCHRONICITY_IND,IDIOSYN,IDIOSYN_IND,IDIOSYN_MKT
0,1004,2008,1.0,9.0,2.302585,1.0,0.0,6.350178,0.261162,0.029731,...,-0.449207,0.047688,0.391786,1.341500,0.473718,-0.684150,1.157868,-0.473718,-1.157868,0.684150
1,1004,2009,1.0,10.0,2.397895,1.0,0.0,6.657799,0.201838,0.042929,...,-0.956878,0.034468,1.173109,4.692126,0.494820,0.046840,0.447980,-0.494820,-0.447980,-0.046840
2,1004,2010,1.0,20.0,3.044522,1.0,0.0,6.957327,0.360588,0.030844,...,-0.948359,0.027800,-0.853567,5.917755,3.330836,1.618001,1.712835,-3.330836,-1.712835,-1.618001
3,1004,2011,1.0,4.0,1.609438,1.0,0.0,6.186804,0.331602,0.025738,...,0.284618,0.028483,-0.044077,1.864609,2.868695,0.900684,1.968010,-2.868695,-1.968010,-0.900684
4,1004,2012,1.0,16.0,2.833213,1.0,1.0,6.673302,0.288247,0.033144,...,-0.940611,0.026460,0.907390,5.861971,1.129614,0.697743,0.431871,-1.129614,-0.431871,-0.697743

In [34]:
data_df.loc[data_df['SYNCHRONICITY'].isnull() & data_df['sigma'].isnull(), ['LPERMNO', 'gvkey', 'cusip', 'ticker', const.YEAR, 'SYNCHRONICITY', 'sigma']]

       LPERMNO   gvkey      cusip ticker  fiscal_year  SYNCHRONICITY  sigma
706      81770    3439  125896100    CMS         2008            NaN    NaN
707      81770    3439  125896100    CMS         2009            NaN    NaN
708      81770    3439  125896100    CMS         2010            NaN    NaN
709      81770    3439  125896100    CMS         2011            NaN    NaN
710      81770    3439  125896100    CMS         2012            NaN    NaN
...        ...     ...        ...    ...          ...            ...    ...
11632    88315  201395                           2012            NaN    NaN
11633    88315  201395                           2013            NaN    NaN
11634    88315  201395                           2014            NaN    NaN
11635    88315  201395                           2015            NaN    NaN
12034    13705  276731                           2012            NaN    NaN

[265 rows x 7 columns]